<ion-header>
  <ion-toolbar class="text-center">
      <ion-buttons slot="start">
          <ion-button color="dark" (click)="dismiss()">
              <ion-icon name="close"></ion-icon>
          </ion-button>
      </ion-buttons>
      <ion-title> {{'Court.Cases.Case-type.Add'|translate}}
      </ion-title>
   
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="w-full p-2 overflow-y-auto">
      <div class="w-full">

          <form class="flex flex-col w-full px-4" [formGroup]="typeform">
         
              <div class="flex flex-row w-full">
                  <mat-form-field appearance="standard" class="w-full">
                      <mat-label>  {{'Court.Cases.Case-type.Form.arabic_name'|translate}}  </mat-label>
                      <input matInput type="text" formControlName="name_ar">
                  </mat-form-field>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name_ar" >
                    <div class="text-red-600 text-end"   *ngIf="typeform.get('name_ar').hasError(validation.type) && (typeform.get('name_ar').dirty || typeform.get('name_ar').touched)">
                    {{ validation.message |translate }}
                    </div>
                </ng-container>
              </div>

              <div class="flex flex-row w-full">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>  {{'Court.Cases.Case-type.Form.english_name'|translate}}  </mat-label>
                    <input matInput type="text" formControlName="name_en">
                </mat-form-field>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.name_en" >
                    <div class="text-red-600 text-end"   *ngIf="typeform.get('name_en').hasError(validation.type) && (typeform.get('name_en').dirty || typeform.get('name_en').touched)">
                    {{ validation.message |translate }}
                    </div>
                </ng-container>
              </div>

              <div class="flex flex-row w-full">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>  {{'Court.Cases.Case-type.Form.appeal_period'|translate}}  </mat-label>
                    <input matInput type="number" formControlName="appeal_period">
                </mat-form-field>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.appeal_period" >
                    <div class="text-red-600 text-end"   *ngIf="typeform.get('appeal_period').hasError(validation.type) && (typeform.get('appeal_period').dirty || typeform.get('appeal_period').touched)">
                    {{ validation.message |translate }}
                    </div>
                </ng-container>
              </div>

              <div class="flex flex-row w-full">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>  {{'Court.Cases.Case-type.Form.discrimination_period'|translate}}  </mat-label>
                    <input matInput type="number" formControlName="discrimination_period">
                </mat-form-field>
              </div>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.discrimination_period" >
                    <div class="text-red-600 text-end"   *ngIf="typeform.get('discrimination_period').hasError(validation.type) && (typeform.get('discrimination_period').dirty || typeform.get('discrimination_period').touched)">
                    {{ validation.message |translate }}
                    </div>
                </ng-container>
              </div>

              <mat-form-field   class="w-full" >
                <mat-label> {{'Court.Cases.Case-type.Form.type'|translate}} </mat-label>
        
                <mat-select   formControlName="type" >
                  <mat-option  value="Lowful">
                    Lowful-شرعي
                  </mat-option>
                  <mat-option  value="Civilian">
                    Civilian-مدني 
                  </mat-option>
                  <mat-option  value="Criminal">
                    Criminal-جنائي
                  </mat-option>
                  <mat-option  value="Excution">
                    Excution-تنفيذ
                  </mat-option>
                </mat-select>

              </mat-form-field>
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.type" >
                    <div class="text-red-600 text-end"   *ngIf="typeform.get('type').hasError(validation.type) && (typeform.get('type').dirty || typeform.get('type').touched)">
                    {{ validation.message |translate }}
                    </div>
                </ng-container>
              </div>

              <div class="flex flex-row w-full">
                <mat-form-field appearance="standard" class="w-full">
                    <mat-label>  {{'Court.Cases.Case-type.Form.comments'|translate}}  </mat-label>
                    <input matInput type="text" formControlName="comments">
                </mat-form-field>
              </div>

              <ion-button (click)="addType()">
                {{'Court.Cases.Case-type.Form.Update'|translate}}
              </ion-button>

          </form>
      </div>
  </div>
</ion-content>