::ng-deep .cdk-drag-preview {
  @apply border;
}
::ng-deep .mat-expansion-panel-header {
  padding: 0px !important;
  height: unset !important;
  border: none !important;
}
::ng-deep .mat-expansion-panel {
  // padding: 0px !important;
  // height: unset !important;
  pointer-events: unset;
  border: none !important;
}
::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0px !important;
}
::ng-deep .mat-form-field-underline {
  bottom: 0 !important;
}
::ng-deep .mat-drawer {
  border: unset !important;
}

