
  <vt-header>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </ion-button>    </ion-buttons>

    <!-- <ion-title>{{'Schedule.Title'|translate}}</ion-title> -->
    <div slot="middle">    {{'EmployeeSelfServices.Employee-contracts.Title'|translate}} </div>
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
  </vt-header>

<ion-content style="--background:#dcedf5;" class="relative">

<div class="flex flex-col w-full p-5">

  <span class="flex items-center justify-center w-full p-5">
      <img class="object-cover w-40 h-40 rounded-full"
          [src]="getURL(data?.user.pictureURL)|| 'https://t4.ftcdn.net/jpg/03/32/59/65/360_F_332596535_lAdLhf6KzbW6PWXBWeIFTovTii1drkbT.jpg'"></span>
          <div class=" flex-col flex items-center justify-center w-full">
              <div class="flex-6 flex items-start  h-8  justify-center w-full">
                  <p class="text-xl font-medium	 text-primary-default	" >{{ data?.user.first_name }}{{'  '}}{{ data?.user.last_name}}              
                  </p>
                
                 
              </div>
              <div class="flex items-start justify-center w-full h-8 flex-6">
                <p class="font-medium text-l text-primary-default ">
                  {{ lang.selectedLang=='en'? data?.designation.title_en:data?.designation.title_ar| titlecase}}
                </p>
        
        
        
              </div>
              <div class="flex items-start justify-center w-full h-8 flex-6">
                <p class="font-medium text-l text-primary-default ">
        
                  {{ lang.selectedLang=='en'? data?.department.name_en:data?.department.name_ar| titlecase}}
                </p>
        
        
        
              </div>
              
            </div>
            </div>

  <div 
   >
    <div class="flex-1  bg-primary-default text-white  text-center h-10 p-2">
   


  
      {{'EmployeeSelfServices.Employee-contracts.Title'|translate}}



   </div>
  </div>

    <div class="grid grid-cols-2 grid-flow-row gap-2 h-64 p-6 border-t">
   
      <div   class="border border-gray-400  flex flex-col items-start justify-start rounded-t-2xl rounded-b-2xl	h-25 p-2 "
          *ngFor="let employee_contract of data?.employee_contracts"   >

          <ng-container *ngIf="employee_contract.isCurrent"> 
                <span style="font-weight: bold;font-weight: 12px;"  >
          {{employee_contract.title_en}}{{" - "}}{{employee_contract.title_ar}}
        </span>
     
        <span style="font-weight: 10px;">
       {{'EmployeeSelfServices.Employee-contracts.List.job_type'|translate}} : {{employee_contract.jobType}}{{" - "}}  {{'EmployeeSelfServices.Employee-contracts.List.payroll_group'|translate}}: {{employee_contract.payroll_group}} 
        </span>
        <span style="font-weight: 10px;">
          {{'EmployeeSelfServices.Employee-contracts.List.start_date'|translate}} :  {{employee_contract.startDate |date}}{{" - "}}  {{'EmployeeSelfServices.Employee-contracts.List.end_date'|translate}} : {{employee_contract.endDate |date}} 
        </span>
     <span style="font-weight: 10px;">
      {{'EmployeeSelfServices.Employee-contracts.List.Basic_salary'|translate}} :  {{employee_contract.basic_salary}}{{" - "}}{{'EmployeeSelfServices.Employee-contracts.List.salary'|translate}} {{employee_contract.salary}} 
        </span>
      </ng-container>

  
        </div>
  
  </div>




</ion-content>

































