
  <vt-header>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
    </ion-button>    </ion-buttons>
    <!-- <ion-title>{{'Schedule.Title'|translate}}</ion-title> -->
    <div slot="middle">     {{'Employee_managment.Personal_information.title'|translate}}  </div>
    <ion-buttons slot="end">
      <!-- <ion-menu-button></ion-menu-button> -->
    </ion-buttons>
  </vt-header>

<ion-content style="--background:#dcedf5;" class="relative">

<div class="flex flex-col w-full p-5">

  <span class="flex items-center justify-center w-full p-5">
      <img class="object-cover w-40 h-40 rounded-full"
          [src]="getURL(data?.user.pictureURL)|| 'https://t4.ftcdn.net/jpg/03/32/59/65/360_F_332596535_lAdLhf6KzbW6PWXBWeIFTovTii1drkbT.jpg'"></span>
          <div class=" flex-col flex items-center justify-center w-full">
              <div class="flex-6 flex items-start  h-8  justify-center w-full">
                  <p class="text-xl font-medium	 text-primary-default	" >{{ data?.user.first_name }}{{'  '}}{{ data?.user.last_name}}              
                  </p>
                
                 
              </div>
              <div class="flex items-start justify-center w-full h-8 flex-6">
                <p class="font-medium text-l text-primary-default ">
                  {{ lang.selectedLang=='en'? data?.designation.title_en:data?.designation.title_ar| titlecase}}
                </p>
        
        
        
              </div>
              <div class="flex items-start justify-center w-full h-8 flex-6">
                <p class="font-medium text-l text-primary-default ">
        
                  {{ lang.selectedLang=='en'? data?.department.name_en:data?.department.name_ar| titlecase}}
                </p>
        
        
        
              </div>
              
            </div>
            </div>

  <div 
   >
    <div class="flex-1  ">
    <ion-segment [(ngModel)]="segment"   class="bg-primary-default ">
      <ion-segment-button  class="text-white "  value="0">
        {{'Employee_managment.Personal_information.title'|translate}}   
      </ion-segment-button>
      <ion-segment-button  class="text-white " value="4">
        {{'Employee_managment.contact_infroamtion.title'|translate}} 
      </ion-segment-button>
  
      <ion-segment-button  class="text-white " value="1">
        {{'Employee_managment.Emergency_Contact.title'|translate}} 
      </ion-segment-button>
  
      <ion-segment-button   class="text-white "  value="3">
        {{'Employee_managment.address.title'|translate}} 
      </ion-segment-button>


  </ion-segment>
   </div>
  </div>

  <ng-container *ngIf="segment == 0">
    <div style="display: -webkit-box;display: -webkit-inline-box;">
      <div class="relative flex flex-row  justify-center w-full p-2 border-b border-step-100 bg-background">
        <div class="flex-1 items-start">
            <mat-slide-toggle color="primary" [(ngModel)]="Edit_mode">
              {{'Operations.EditMode'|translate}}
            </mat-slide-toggle>
        </div>
  
     
      </div>
    </div>



    <div class="w-full p-2 overflow-y-auto" *ngIf="Edit_mode">
      <div class="w-full">
  
        <form class="flex flex-col w-full px-4" [formGroup]="PersonalInformationForm">
          <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>{{'Employee_managment.Personal_information.Form.Gender'|translate}}  </mat-label>
                <mat-select formControlName="gender">
                    <mat-option value="Male"> {{'Employee_managment.Personal_information.Gender.Male'|translate}} </mat-option>
                    <mat-option value="Female"> {{'Employee_managment.Personal_information.Gender.Female'|translate}}</mat-option>
                </mat-select>
            </mat-form-field>
        
        </div>  
          <ng-container *ngFor="let validation of validation_messages.gender" >
              <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('gender').hasError(validation.type) && (PersonalInformationForm.get('gender').dirty || PersonalInformationForm.get('gender').touched)">
                {{ validation.message |translate }}
              </div>
            </ng-container>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>  {{'Employee_managment.Personal_information.Form.marital_status'|translate}}</mat-label>
                <mat-select formControlName="marital_status">
                    <mat-option value="Single">{{'Employee_managment.Personal_information.marital_status.Single'|translate}}</mat-option>
                    <mat-option value="Married">{{'Employee_managment.Personal_information.marital_status.Married'|translate}}</mat-option>
                    <mat-option value="Divorced">{{'Employee_managment.Personal_information.marital_status.Divorced'|translate}}</mat-option>
                    <mat-option value="Widowed">{{'Employee_managment.Personal_information.marital_status.Widowed'|translate}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ng-container *ngFor="let validation of validation_messages.marital_status" >
          <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('marital_status').hasError(validation.type) && (PersonalInformationForm.get('marital_status').dirty || PersonalInformationForm.get('marital_status').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>   {{'Employee_managment.Personal_information.Form.Nationality'|translate}}  </mat-label>
                <input matInput type="text" formControlName="nationality" >
            </mat-form-field>
        </div>
  
        <ng-container *ngFor="let validation of validation_messages.nationality" >
          <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('nationality').hasError(validation.type) && (PersonalInformationForm.get('nationality').dirty || PersonalInformationForm.get('nationality').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
        <div class="flex flex-row w-full">
          <mat-form-field appearance="standard" class="w-full">
              <mat-label>  {{'Employee_managment.Personal_information.Form.national_identity'|translate}} </mat-label>
              <input matInput type="number" formControlName="national_identity"
                >
          </mat-form-field>
      </div>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>  {{'Employee_managment.Personal_information.Form.Religion'|translate}} </mat-label>
                <input matInput type="text" formControlName="religion" >
            </mat-form-field>
        </div>
  
        <ng-container *ngFor="let validation of validation_messages.religion" >
          <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('religion').hasError(validation.type) && (PersonalInformationForm.get('religion').dirty || PersonalInformationForm.get('religion').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label> {{'Employee_managment.Personal_information.Form.passport'|translate}}   </mat-label>
                <input matInput type="number" formControlName="passport" >
            </mat-form-field>
        </div>
        <ng-container *ngFor="let validation of validation_messages.passport" >
          <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('passport').hasError(validation.type) && (PersonalInformationForm.get('passport').dirty || PersonalInformationForm.get('passport').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
        <div class="flex flex-row w-full mt-2">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label> {{'Employee_managment.Personal_information.Form.birth_date'|translate}}  </mat-label>
                <input matInput formControlName="birth_date" [matDatepicker]="picker">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
        <ng-container *ngFor="let validation of validation_messages.birth_date" >
          <div class="text-red-600 text-end"   *ngIf="PersonalInformationForm.get('birth_date').hasError(validation.type) && (PersonalInformationForm.get('birth_date').dirty || PersonalInformationForm.get('birth_date').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
  
  
  
        </form>
  
  
        <div
          class="relative flex items-center justify-center h-10 p-2 mx-2 border rounded-lg cursor-pointer flex-12  bg-toolbar-background hover:bg-step-50 "
          (click)="update()">
          <ion-icon name="update"></ion-icon>
          {{'Employee_managment.Personal_information.Update'|translate}} 
        </div>
      </div>
    </div>

 
  <div class="flex flex-row w-full items-start justify-start  p-5 "   *ngIf="!Edit_mode">
    <div class="flex flex-col items-start justify-start w-1/2 p-2">
<span   class="text-xl font-medium	 text-primary-default  py-2	"   >

  {{'Employee_managment.Personal_information.title'|translate}}  </span>
<span  class="text-xl"  *ngIf="data?.personal_information.gender">
  <ion-icon *ngIf="data?.personal_information.gender == 'Female'" class="text-xl font-medium " name="woman"></ion-icon>
  <ion-icon *ngIf="data?.personal_information.gender !== 'Female'" class="text-xl font-medium " name="man"></ion-icon>
<span   ></span>
  {{'Employee_managment.Personal_information.Form.Gender'|translate}} :
  {{("Employee_managment.Personal_information.Gender."+data?.personal_information.gender)|translate}}
  </span>
  <span  class="text-xl"  *ngIf="data?.personal_information.marital_status">
    <ion-icon class="text-xl font-medium " name="mail"></ion-icon>
    {{'Employee_managment.Personal_information.Form.marital_status'|translate}} :
    {{("Employee_managment.Personal_information.marital_status."+ data?.personal_information.marital_status)|translate}}

    
  
    </span>
    <span  class="text-xl">
      <ion-icon class="text-xl font-medium " name="mail"></ion-icon>
      {{'Employee_managment.Personal_information.Form.Nationality'|translate}}  :{{ data?.personal_information.nationality }}
    
      </span>
      <span  class="text-xl">
        <ion-icon class="text-xl font-medium " name="mail"></ion-icon>
        {{'Employee_managment.Personal_information.Form.national_identity'|translate}}  :{{ data?.personal_information.national_identity }}
      
        </span>
      <span  class="text-xl">
        <ion-icon class="text-xl font-medium " name="barcode"></ion-icon>
        {{'Employee_managment.Personal_information.Form.Religion'|translate}}  :{{ data?.personal_information.religion }}
      
        </span>
        <span  class="text-xl">
          <ion-icon  class="text-xl font-medium "  name="card"></ion-icon>  
          {{'Employee_managment.Personal_information.Form.passport'|translate}}   :{{ data?.personal_information.passport }}
        
          </span>
          <span  class="text-xl">
     
            <ion-icon class="text-xl font-medium " name="calendar"></ion-icon>
            {{'Employee_managment.Personal_information.Form.birth_date'|translate}} :{{ data?.personal_information.birth_date |date }}
          
            </span>
          
        
      

<span style="font-size:14px;">
</span>
    </div>    
  
 

  

</div>



</ng-container>


<ng-container   *ngIf="segment == 1" >


  <emergency-contact   [EmployeeId]="data.id"  [EmergencyContact]="data.personal_information.emergency_contacts"  [personalInformationID]="data.personalInformationID"  ></emergency-contact >


</ng-container>

<ng-container   *ngIf="segment == 2" >
  <div class="grid grid-cols-2 grid-flow-row gap-2 h-64 p-6 border-t">
 
    <div class="border border-gray-400  flex flex-col items-start justify-start rounded-t-2xl rounded-b-2xl	h-20 p-2 "
        *ngFor="let emergencyContact of data?.personal_information.emergency_contacts"   >
      <span style="font-weight: bold;font-weight: 12px;"  >
        {{emergencyContact.name}}- Relation:{{emergencyContact.relation}}
      </span>
      <span style="font-weight: 10px;">
      Mobile:  {{emergencyContact.mobile}}-  Phone: {{emergencyContact.phone}}
      </span>
      <span style="font-weight: 10px;">
        Email  : {{emergencyContact.email}}
        </span>
      </div>

</div>
</ng-container>


<ng-container *ngIf="segment == 3">
  <addresses-list   [EmployeeId]="data.id"   [addresses]="data.personal_information.addresses"  [personalInformationID]="data.personalInformationID"  ></addresses-list>

</ng-container>



<ng-container *ngIf="segment == 4">
  <div style="display: -webkit-box;display: -webkit-inline-box;">
    <div class="relative flex flex-row  justify-center w-full p-2 border-b border-step-100 bg-background">
      <div class="flex-1 items-start">
          <mat-slide-toggle color="primary" [(ngModel)]="Edit_mode">
            {{'Operations.EditMode'|translate}}
          </mat-slide-toggle>
      </div>

   
    </div>
  </div>



  <div class="w-full p-2 overflow-y-auto" *ngIf="Edit_mode">
    <div class="w-full">
      <form class="flex flex-col w-full px-4" [formGroup]="contactForm">
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>   {{'Employee_managment.contact_infroamtion.Form.phone'|translate}}   </mat-label>
                <input matInput type="number" formControlName="phone" >
            </mat-form-field>
        </div>
        <ng-container *ngFor="let validation of validation_messages.phone" >
            <div class="text-red-600 text-end"   *ngIf="contactForm.get('phone').hasError(validation.type) && (contactForm.get('phone').dirty || contactForm.get('phone').touched)">
              {{ validation.message |translate }}
            </div>
          </ng-container>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>   {{'Employee_managment.contact_infroamtion.Form.Email'|translate}}   </mat-label>
                <input matInput type="text" formControlName="email">
            </mat-form-field>
        </div>
        <ng-container *ngFor="let validation of validation_messages.email" >
          <div class="text-red-600 text-end"   *ngIf="contactForm.get('email').hasError(validation.type) && (contactForm.get('email').dirty || contactForm.get('email').touched)">
            {{ validation.message |translate }}
          </div>
        </ng-container>
        <div class="flex flex-row w-full">
            <mat-form-field appearance="standard" class="w-full">
                <mat-label>  {{'Employee_managment.contact_infroamtion.Form.Mobile'|translate}}  </mat-label>
                <input matInput type="number" formControlName="mobile">
            </mat-form-field>
        </div>

    </form>


    <div
    class="relative flex  flex-12 items-center justify-center h-10 p-2 mx-2 border rounded-lg cursor-pointer  bg-toolbar-background hover:bg-step-50 "
    (click)="updateContact()">
    <ion-icon name="update"></ion-icon>

    {{'Employee_managment.contact_infroamtion.update'|translate}}
  </div>
    </div>
  </div>


<div class="flex flex-row w-full items-start justify-start  p-5 "   *ngIf="!Edit_mode">
  <div class="flex flex-col items-start justify-start w-1/2 p-2">
  <span class="text-xl font-medium	 text-primary-default  py-2	">
  

    {{'Employee_managment.contact_infroamtion.title'|translate}} 

</span>
  
<span  class="text-xl">
<ion-icon class="text-xl font-medium " name="mail"></ion-icon>

{{'Employee_managment.contact_infroamtion.Form.Email'|translate}}  :{{ data?.personal_information.contact?.email }}

</span>

<span class="text-lg" >
<ion-icon name="call-outline"></ion-icon>
  {{'Employee_managment.contact_infroamtion.Form.phone'|translate}} :{{ data?.personal_information.contact?.phone }}
</span>
<span class="text-lg" >
  <ion-icon name="call-outline"></ion-icon>
     {{'Employee_managment.contact_infroamtion.Form.Mobile'|translate}}:{{ data?.personal_information.contact?.mobile }}
  </span>
 
      </div>  





</div>



</ng-container>

</ion-content>

































