<div class="flex flex-row items-center border-t border-b h-14">
  <div class="flex justify-end flex-1 gap-2 px-2 item-center">
    <div role="button" class="flex items-center gap-2 p-1 text-xl border rounded-lg bg-step-100 hover:bg-step-300"
      (click)="drawer.toggle()">
      {{'Operations.Filter'|translate}}
      <ion-icon slot="end" name="funnel-outline"></ion-icon>
    </div>
  </div>

  <div *ngIf="('Appointment:PRINT:MANAGE'|permission)"
    class="relative flex  flex-12 items-center justify-center h-10 p-2 mx-2 border rounded-lg cursor-pointer  bg-toolbar-background hover:bg-step-50 "
    (click)="printDiv()">
    <ion-icon name="arrow-redo-outline"></ion-icon> pdf
  </div>
</div>


<mat-drawer-container [dir]="(lang.direction|async)" [hasBackdrop]="['sm','md','lg'].includes(app.screenSize)">
  <!--mat-drawer-->
  <mat-drawer class="relative w-2/3 border-is md:w-1/2 xl:w-1/3 bg-step-200" #drawer [position]="'end'"
    [mode]="['sm','md','lg'].includes(app.screenSize)?'over':'side'" opened="false">
    <div class="flex-row p-12 overflow-auto">
      <ng-container>
        <div class="flex flex-col w-full px-4 mt-4">
          <mat-label class="mie-4"> {{'Court.Reports.Columns'|translate}} </mat-label>
          <div class="flex flex-wrap px-4 mb-2">
            <mat-checkbox class="mx-2" style="width: 120px;" *ngFor="let Column of Columnslist"
              [(ngModel)]="Column.isSelected">
              {{("Schedule.AppointmentsTable.List." + Column.name)|translate}}
            </mat-checkbox>
          </div>
        </div>
      </ng-container>

      <div class="flex-initial ...">
        <mat-form-field form-field appearance="standard" class="w-full ">
          <mat-label> {{'Court.Cases.List.From_Date'|translate}} </mat-label>
          <input matInput [matDatepicker]="picker" [(ngModel)]="filter.timeSlot?.every?.date.gte"
            (ngModelChange)="FromDateChange($event)" />
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-initial ...">
        <mat-form-field appearance="standard" class="w-full">
          <mat-label> {{'Court.Cases.List.To_Date'|translate}}
          </mat-label>
          <input matInput [min]="filter.timeSlot?.every?.date.gte" [(ngModel)]="filter.timeSlot?.every?.date.lte"
            [matDatepicker]="toPicker" (ngModelChange)="ToDateChange($event)" />
          <mat-datepicker-toggle matSuffix [for]="toPicker"></mat-datepicker-toggle>
          <mat-datepicker #toPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="flex-initial ...">
        <mat-form-field appearance="standard" class="w-full">
          <mat-label> {{'Court.Session.Form.Lawyer_Name'|translate}} </mat-label>
          <mat-select (selectionChange)="EmployeeIDChange($event)" [(ngModel)]="employee">
            <mat-option [value]="null" aria-selected="true">None</mat-option>
            <mat-option *ngFor="let Employee of employeeList" [value]="Employee.id">
              {{Employee.user.first_name}}{{"-"}}{{Employee.user.last_name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-initial ...">
        <mat-form-field appearance="standard" class="w-full">
          <mat-label> {{'Schedule.AppointmentsTable.List.type'|translate}} </mat-label>
          <mat-select (selectionChange)="TypeChange($event)" [(ngModel)]="type">
            <mat-option [value]="null" aria-selected="true">None</mat-option>
            <mat-option *ngFor="let AppointmentType of appointmentTypes" [value]="AppointmentType.id">
              {{AppointmentType.title_en+" | "+AppointmentType.title_ar}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-initial ...">
        <mat-form-field appearance="standard" class="w-full">
          <mat-label> {{'Schedule.AppointmentsTable.List.isApproved'|translate}} </mat-label>
          <mat-select (selectionChange)="StatusChange($event)" [(ngModel)]="status">
            <mat-option [value]="null" aria-selected="true">None</mat-option>
            <mat-option [value]="true">{{'Schedule.AppointmentsTable.List.yes'|translate}}</mat-option>
            <mat-option [value]="false">{{'Schedule.AppointmentsTable.List.no'|translate}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="flex-initial ...">
        <ion-button (click)="getSessionWithFilter()">
          {{'Operations.Apply'|translate}}
        </ion-button>
        <ion-button style="width:45%;" (click)="ResetFilter()">
          {{'Operations.Reset'|translate}}
        </ion-button>
      </div>
    </div>
  </mat-drawer>
  <!--mat-drawer end-->

  <mat-drawer-content class="h-full">
    <div style="display: -webkit-box;display: -webkit-inline-box;">
      <div class="relative flex flex-row justify-center w-full p-2 border-b border-step-100 bg-background">
        <div class="items-start flex-1">
          <div class="relative flex flex-1 h-10 border rounded-lg lg:flex-none lg:w-1/3 bg-toolbar-background ">
            <svg class="absolute left-0 w-10 h-full p-2 fill-current hover:text-step-900 " x="0px" y="0px"
              viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
              width="512px" height="512px">
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
            </svg>
            <input class="w-full h-full pl-12 pr-1 text-sm bg-backeground text-step-900 focus:outline-none"
              type="search" name="search" placeholder="{{'Operations.Search'|translate}}" [(ngModel)]="searchTerm"
              #search (keyup)="applyFilter()">
          </div>
        </div>
      </div>
    </div>

    <ion-content>
      <ng-container>
        <div class="relative flex flex-1 overflow-auto h-full">
          <table id="table" mat-table [dataSource]="AppointmentList" matSort
            class="z-10 w-full overflow-y-auto bg-background text-step-600 h-full">
            <!-- Checkbox Column -->

            <ng-container matColumnDef="id">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.id'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.id}}
              </td>
            </ng-container>

            <ng-container matColumnDef="type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.type'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{ lang.selectedLang=='en'? element.type?.title_en:element.type?.title_ar| titlecase}}
              </td>
            </ng-container>

            <ng-container matColumnDef="client_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.client_name'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.client_name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="client_name">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.client_name'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.client_name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="client_cpr">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.cprcr'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.client_type == 'Individual'">
                  {{element.client_cpr}}
                </span>
                <span *ngIf="element.client_type == 'Company'">
                  {{element.client_cr}}
                </span>
              </td>
            </ng-container>

            <ng-container matColumnDef="client_type">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.client_type.client_type'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{'Schedule.AppointmentsTable.List.client_type.'+element.client_type|translate}}
              </td>
            </ng-container>

            <ng-container matColumnDef="employee">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.employee'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.timeSlot[0]?.employee?.user?.first_name}}-{{element.timeSlot[0]?.employee?.user?.last_name}}
              </td>
            </ng-container>

            <ng-container matColumnDef="date">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.date'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.timeSlot[0]?.date | date:'dd/MM/yyyy'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="startTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.startTime'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.timeSlot[0]?.startTime | date:'shortTime':'+3'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="endTime">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.endTime'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.timeSlot[0]?.endTime | date:'shortTime':'+3'}}
              </td>
            </ng-container>

            <ng-container matColumnDef="isApproved">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>
                <p class="w-full text-center">
                  {{'Schedule.AppointmentsTable.List.isApproved'|translate}}
                </p>
              </th>
              <td mat-cell *matCellDef="let element">
                <span *ngIf="element.timeSlot[0]?.isApproved" style="color: green;">
                  {{'Schedule.AppointmentsTable.List.yes'|translate}}
                </span>
                <span *ngIf="!element.timeSlot[0]?.isApproved" style="color: red;">
                  {{'Schedule.AppointmentsTable.List.no'|translate}}
                </span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true" class="border-b"></tr>
            <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"
              class="border-b cursor-pointer border-step-100 hover:bg-step-50" (click)="details(row)">
            <tr class="mat-row" *matNoDataRow>
              <ng-template #NoRoles>
                <td class="text-2xl text-center mat-cell" colspan="5">There are no Bookings.
                </td>
              </ng-template>
            </tr>
          </table>
        </div>
        <mat-paginator #AppointmentTablePaginator [pageSizeOptions]="[5,10,20]" 
          class="sticky z-10 bottom-0 w-full bg-gray-100 border-t border-b border-step-100 mat-paginator-sticky"
          showFirstLastButtons>
        </mat-paginator>
      </ng-container>
    </ion-content>

  </mat-drawer-content>
</mat-drawer-container>