<ion-header>
    <ion-toolbar class="text-center">
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>
            {{'Announcement.Update'|translate}}
        </ion-title>
        <ion-buttons slot="end" *ngIf="('Announcement:DELETE:MANAGE,SuperAdminAccess:MANAGE,AdminAccess:MANAGE'|permission)">
            <ion-button color="dark" (click)="deleteAnnouncement()">
                <mat-icon class="mx-auto" aria-label="Delete">delete</mat-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="w-full p-2 overflow-y-auto">
        <div class="w-full">
            <form class="flex flex-col w-full px-4" [formGroup]="updateForm">

                <div class="flex flex-row w-full">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label> {{'Announcement.Form.Title'|translate}} <span style="color: red;">*</span>
                        </mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.title">
                        <div class="text-red-600 text-end"
                            *ngIf="updateForm.get('title').hasError(validation.type) && (updateForm.get('title').dirty || updateForm.get('title').touched)">
                            {{ validation.message |translate }}
                        </div>
                    </ng-container>
                </div>

                <div class="flex flex-row w-full">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label> {{'Announcement.Form.Description'|translate}}
                        </mat-label>
                        <input matInput type="text" formControlName="description">
                    </mat-form-field>
                </div>

                <div class="flex flex-row w-full mt-2">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label> {{'Announcement.Form.FromDate'|translate}} <span style="color: red;">*</span>
                        </mat-label>
                        <input matInput [(ngModel)]="fromDate" formControlName="fromDate" [matDatepicker]="FromPicker">
                        <mat-datepicker-toggle matSuffix [for]="FromPicker"></mat-datepicker-toggle>
                        <mat-datepicker #FromPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.fromDate">
                        <div class="text-red-600 text-end"
                            *ngIf="updateForm.get('fromDate').hasError(validation.type) && (updateForm.get('fromDate').dirty || updateForm.get('fromDate').touched)">
                            {{ validation.message |translate }}
                        </div>
                    </ng-container>
                </div>

                <div class="flex flex-row w-full mt-2">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label> {{'Announcement.Form.ToDate'|translate}} <span style="color: red;">*</span>
                        </mat-label>
                        <input matInput [min]="fromDate" formControlName="toDate" [matDatepicker]="ToPicker">
                        <mat-datepicker-toggle matSuffix [for]="ToPicker"></mat-datepicker-toggle>
                        <mat-datepicker #ToPicker></mat-datepicker>
                    </mat-form-field>
                </div>
                <div class="validation-errors">
                    <ng-container *ngFor="let validation of validation_messages.toDate">
                        <div class="text-red-600 text-end"
                            *ngIf="updateForm.get('toDate').hasError(validation.type) && (updateForm.get('toDate').dirty || updateForm.get('toDate').touched)">
                            {{ validation.message |translate }}
                        </div>
                    </ng-container>
                </div>

                <mat-form-field class="flex flex-row w-full">
                    <ngx-mat-file-input formControlName="image"
                        (ngModelChange)="imageChanged()"
                        placeholder="{{'Announcement.Form.Image'|translate}} "
                        accept=".jpg,.jpeg,.png">
                    </ngx-mat-file-input>
                    <mat-hint>.jpg,.jpeg,.png</mat-hint>
                    <mat-icon matSuffix> </mat-icon>
                </mat-form-field>

                <mat-form-field class="flex flex-row w-full">
                    <ngx-mat-file-input formControlName="document"
                        (ngModelChange)="documentChanged()"
                        placeholder="{{'Announcement.Form.Document'|translate}} "
                        accept=".doc,.docx,.pdf,.jpg,.jpeg,.png">
                    </ngx-mat-file-input>
                    <mat-hint>.doc,.docx,.pdf,.jpg,.jpeg,.png</mat-hint>
                    <mat-icon matSuffix> </mat-icon>
                </mat-form-field>

                <ion-button (click)="update()">
                    {{'Announcement.Form.Update'|translate}}
                </ion-button>

            </form>

        </div>
    </div>
</ion-content>