<ion-content *ngIf="(lang.direction|async) as dir">
  <ng-container *ngIf="!isLoading">
    <div class="w-full p-2 overflow-y-auto">
      <div class="w-full">
        <mat-card>
          <div class="flex flex-row w-full text-center">
            <h4 class="text-center">
              Please select the filters to get the data
            </h4>
          </div>
          <div class="flex flex-row w-full text-center">
            <div class="flex flex-row w-1/2 p-3 text-center">
              <!-- <mat-form-field appearance="standard" class="w-full">
                <mat-label> From To </mat-label>
                <input
                  matInput
                  [(ngModel)]="dateTo"
                  [matDatepicker]="toPicker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="toPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field> -->
              <mat-select [(ngModel)]="selectedYear">
                <mat-option
                  *ngFor="let year of yearList;let i = index;"
                  [value]="year"
                  >{{year}}
                </mat-option>
              </mat-select>
            </div>
            <div class="flex flex-row w-1/2 p-3 text-center">
              <ion-button
                class="text-center"
                color="dark"
                (click)="getReportData()"
              >
                <ion-icon name="search-circle-outline"></ion-icon>
              </ion-button>
            </div>
          </div>
        </mat-card>
        <mat-card>
          <div class="flex flex-row w-full text-center">
            <h4 class="text-center">Balance Sheet</h4>
          </div>
          <div class="flex flex-row w-full text-center">
            <table class="w-full overflow-y-auto bg-background border-2 m-px">
              <tbody>
                <tr>
                  <td
                    style="background-color: #8080804d"
                    colspan="3"
                    class="border-2 p-1 text-left"
                  >
                    ASSETS
                  </td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Cash</td>
                  <td class="border-2 p-1 text-center">{{cash}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Accounts Receivable</td>
                  <td class="border-2 p-1 text-center">{{acct_rec}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">
                    Machinery & Equipment
                  </td>
                  <td class="border-2 p-1 text-center">{{mac_eqp}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Insurance</td>
                  <td class="border-2 p-1 text-center">{{insur}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Computers</td>
                  <td class="border-2 p-1 text-center">{{comp}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Furniture</td>
                  <td class="border-2 p-1 text-center">{{fur}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Real Estate/Property</td>
                  <td class="border-2 p-1 text-center">{{real_est_prop}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Other Assets</td>
                  <td class="border-2 p-1 text-center">{{other_ast}}</td>
                </tr>
                <tr>
                  <th style="background-color: #8080804d" class="border-2 p-1">Total Assets</th>
                  <th class="border-2 p-1">{{total_ast}}</th>
                </tr>
                <tr>
                  <td
                    style="background-color: #0000004d"
                    colspan="3"
                    class="border-2 p-1 text-left"
                  >
                  </td>
                </tr>
                <tr>
                  <td
                    style="background-color: #8080804d"
                    colspan="3"
                    class="border-2 p-1 text-left"
                  >
                    LIABILITIES
                  </td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Accounts Payable</td>
                  <td class="border-2 p-1 text-center">{{acct_pay}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">VAT</td>
                  <td class="border-2 p-1 text-center">{{vat}}</td>
                </tr>
                <tr>
                  <td class="border-2 p-1 text-center">Other liabilities</td>
                  <td class="border-2 p-1 text-center">{{other_lib}}</td>
                </tr>
                <tr>
                  <th style="background-color: #8080804d" class="border-2 p-1">
                    Total Liabilities
                  </th>
                  <th class="border-2 p-1">{{total_lib}}</th>
                </tr>
              </tbody>
            </table>
            <!-- <div class="flex flex-row w-1/3 p-3 text-center">
              <mat-form-field appearance="standard" class="w-full">
                <mat-label> From Date </mat-label>
                <input
                  matInput
                  [(ngModel)]="dateFrom"
                  [matDatepicker]="picker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="picker"
                ></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex flex-row w-1/3 p-3 text-center">
              <mat-form-field appearance="standard" class="w-full">
                <mat-label> From To </mat-label>
                <input
                  matInput
                  [(ngModel)]="dateTo"
                  [matDatepicker]="toPicker"
                />
                <mat-datepicker-toggle
                  matSuffix
                  [for]="toPicker"
                ></mat-datepicker-toggle>
                <mat-datepicker #toPicker></mat-datepicker>
              </mat-form-field>
            </div>
            <div class="flex flex-row w-1/3 p-3 text-center">
              <ion-button
                class="text-center"
                color="dark"
                (click)="getReportData()"
              >
                <ion-icon name="search-circle-outline"></ion-icon>
              </ion-button>
            </div> -->
          </div>
        </mat-card>
        <!-- <mat-card class="mt-4">
          <div class="flex flex-row w-full text-center mt-4">
            <div class="flex flex-row w-1/2 text-center">
              <table class="w-full overflow-y-auto bg-background border-2 m-px">
                <thead>
                  <tr>
                    <th
                      colspan="5"
                      class="border-2 p-1 text-center"
                      style="background-color: #8080804d"
                    >
                      Income
                    </th>
                  </tr>
                  <tr>
                    <th class="border-2 p-1">S. No.</th>
                    <th class="border-2 p-1">Reciept No.</th>
                    <th class="border-2 p-1">Date</th>
                    <th class="border-2 p-1">Description</th>
                    <th class="border-2 p-1">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="receipts.length==0">
                    <td colspan="5" class="border-2 text-center">No Details</td>
                  </tr>
                  <tr
                    class="border-2"
                    *ngFor="let data of receipts;let i = index"
                  >
                    <td class="border-2 p-1 text-center">{{i+1}}</td>
                    <td class="border-2 p-1 text-center">
                      {{data.receipt_no}}
                    </td>
                    <td class="border-2 p-1 text-center">
                      {{data.receipt_date|date:"short"}}
                    </td>
                    <td class="border-2 p-1 text-center">
                      {{data.description}}
                    </td>
                    <td class="border-2 p-1 text-center">{{data.amount}}</td>
                  </tr>
                  <tr>
                    <td
                      colspan="4"
                      class="border-2 p-1 text-right"
                      style="background-color: #8080804d"
                    >
                      Total Income
                    </td>
                    <td class="border-2 p-1 text-right">{{totalIncome}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="flex flex-row w-1/2 text-center">
              <table class="w-full overflow-y-auto bg-background border-2 m-px">
                <thead>
                  <tr>
                    <th
                      colspan="4"
                      class="border-2 p-1 text-center"
                      style="background-color: #8080804d"
                    >
                      Expense
                    </th>
                  </tr>
                  <tr>
                    <th class="border-2 p-1">S. No.</th>
                    <th class="border-2 p-1">Expense No.</th>
                    <th class="border-2 p-1">Date</th>
                    <th class="border-2 p-1">Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngIf="expenses.length==0">
                    <td colspan="4" class="text-center border-2">No Details</td>
                  </tr>
                  <tr
                    class="border-2"
                    *ngFor="let data of expenses;let i = index"
                  >
                    <td class="border-2 p-1 text-center">{{i+1}}</td>
                    <td class="border-2 p-1 text-center">
                      {{data.expense_no}}
                    </td>
                    <td class="border-2 p-1 text-center">
                      {{data.expense_date|date:"short"}}
                    </td>
                    <td class="border-2 p-1 text-center">
                      {{data.tax_amount}}
                    </td>
                  </tr>
                  <tr>
                    <td
                      colspan="3"
                      class="border-2 p-1 text-right"
                      style="background-color: #8080804d"
                    >
                      Total Expense
                    </td>
                    <td class="border-2 p-1 text-right">{{totalExpense}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </mat-card> -->
      </div>
    </div>
  </ng-container>
</ion-content>
