<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{'MyAccount.Title'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-tabs class="pt-2">
    <ion-tab-bar slot="top" class="border">
      <ion-tab-button tab="profile">
        <ion-icon name="person-circle"></ion-icon>
        <ion-label>Account</ion-label>
      </ion-tab-button>

      <!-- <ng-container *ngIf="auth.userData|async as data">
        <ion-tab-button>
          <ion-icon name="calendar"></ion-icon>
          <ion-label>Appointments</ion-label>
          <ion-badge class="top-0">{{data.client?.appointments ? data.client.appointments.length:0}}</ion-badge>
        </ion-tab-button>
      </ng-container>

      <ion-tab-button>
        <ion-icon name="information-circle"></ion-icon>
        <ion-label>About</ion-label>
      </ion-tab-button> -->
    </ion-tab-bar>
  </ion-tabs>
</ion-content>