
<ion-header >
  <ion-toolbar class="text-center">
    <ion-buttons slot="start">
      <ion-button color="dark" matTooltip="Cancel" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Terms and Conditions|الشروط والأحكام </ion-title>

  </ion-toolbar>
</ion-header>
<ion-buttons slot="start" style="height: 45px;" *ngIf="dontshow">
  <ion-menu-button></ion-menu-button>
</ion-buttons>
<ion-content >
  <ul   class="a" style="text-align: justify;
  justify-content: right;" >
    <li>التوقيع على هذه الاتفاقية يعني الموافقة على جميع الشروط والأحكام الواردة في هذه الاتفاقية. </li>
    
    <li>التوقيع على الاتفاقية بمعنى الموافقة على حضور المحامية أو من يمثلها كما هو إقرار بالموافقة على الاتفاق الجاري حيث يوكل المحامي بما هو مقيد في موضوع الدعوى وعليه يلزم الموكل بدفع أتعاب المحاماة المتفق عليها. </li>
    
    <li>للموكل حق الاستفسار والحصول على مستجدات القضية وعليه إبلاغ المكتب في حال تغيير رقم الهاتف أو الواتساب أو العنوان وتقديم كافة الأدلة والمستندات اللازمة للقضية، كما أن الموكل يوافق على أن طريقة إبلاغه بمستجدات القضية عن طريق الواتساب، وأن كل ما يرسل عليه يكون ملزما ومنتجا لآثاره القانونية. </li>
    
    <li>يقر الموكل بمسؤوليته القانونية الكاملة والمنفردة عن دقة وصحة أي مواد و/أو معلومات و/أو بيانات و/أو صور يقوم بتقديمها للمحامية، ولا تتحمل المحامية أي مسؤولية من أي نوع نتيجة تقديم معلومات خاطئة أو غير دقيقة. </li>
    
    <li>تستحق الأتعاب المتبقية حسب المتفق عليه من تاريخ توقيع الاتفاقية لجميع القضايا الشرعية والجنائية بما فيها متبقي مبلغ الأتعاب في قضايا المطالبات المالية بعد صدور الحكم الابتدائي كما يحق للمكتب بأن يستقطع مبالغ الأتعاب من مبالغ التنفيذ مباشرة، وفي حال تخلف الموكل عن دفع الأتعاب في الموعد المقرر يعتبر هذا الاتفاق ملغيا بشكل فوري وللمحامي المطالبة بمتبقي الأتعاب عبر تقديم هذه الاتفاقية لعدالة المحكمة. </li>
    
    <li>يتم تطبيق ضريبة القيمة المضافة على الأتعاب، وفقا لأحكام القانون ولائحته التنفيذية. </li>
    
    <li>الأتعاب المتفق عليها لازمة على الموكل ولا تتغير في حال إنهاء النزاع بالصلح أو الاتفاق أو بأي طريق آخر، بل تصبح حقا مكتسبا للمحامية بمجرد التوقيع على هذه الاتفاقية، ولا يجوز المطالبة باستردادها كليا أو جزئيا، كما أن فسخ هذه الاتفاقية أو إلغاء التوكيل من طرف الموكل يجعل باقي الأتعاب مستحقة. </li>
    
    <li>لا يعتبر التوقيع على هذه الاتفاقية دليلا على سداد الأتعاب، بل لا بد من صدور وصل بها من محاسب المكتب. </li>
    
    <li>الأتعاب المتفق عليها تمثل مستحقات المحامي نظير أعماله ولا تشمل التنفيذ كما أنها غير شاملة لأتعاب الاستئناف والتمييز في جميع أنواع القضايا ويتم تحديد أتعاب أخرى لهذه المراحل والتنفيذ. </li>
    
    <li>الأتعاب الواردة في الاتفاقية خاصة بالأعمال المتفق عليها فقط، ولن تمتد لأعمال أخرى، وإن كانت متشابهة، فإذا تفرعت الأعمال المتفق عليها عن أعمال أخرى احتسبت للأعمال الجديدة المتفرعة أتعاب أخرى  يتفق بشأنها بعقد آخر أو بملحق للاتفاقية. </li>
    
    <li>يلتزم الطرف الموكل بسداد كافة الرسوم والمصاريف التي تتطلبها الجهات الرسمية وغير الرسمية بشأن الدعوى محل الاتفاقية كما يلتزم بأن يضع تحت تصرف المحامية حين الطلب جميع الأوراق والوثائق والمستندات والبيانات والمعلومات وكل ما يلزم لتسهيل قيام المحامية بمهمتها ويكون الطرف الموكل مسئولا عن أي أضرار تحدث جراء عدم تقديمه أو تأخره في تزويد المحامية بما تطلبه من مستندات أو بيانات أو معلومات أو غيرها من متطلبات تكون لازمة لأداء المحامية لعملها. </li>
    
    <li>للمحامية الحق في حبس المستندات والأحكام حتى يسدد الموكل كافة الأتعاب المتعاقد عليها دون أدنى اعتراض من الموكل على ذلك. </li>
    
    <li>مبلغ الاستشارة ليس جزءًا من مبلغ الأتعاب. </li>
    
    <li>يجب على طالب الاستشارة إبلاغ المكتب في حال كان خصمه وكيلاً لدينا أو توجد له مصالح مع المكتب. </li>
    
    <li>الموافقة على تحويل المبالغ المستحقة للموكل عن طريق برنامج البنفت أو عن طريق التحويل البنكي. </li>
    
    <li>كل نزاع ينشأ بين طرفي هذه الاتفاقية حول تنفيذها أو تفسيرها أو أي شرط من شروطها أو مركز قانوني ناتج عنها، أو بطلانها أو إبطالها أو فسخها أو تعديلها ، يكون الفصل فيه من اختصاص المحاكم البحرينية.</li>
    </ul>

<hr>
    <ul  class="b"   style="text-align: justify;
    justify-content: left;">
      <li   >By signing this Agreement, you agree to all terms and conditions contained herein. </li>
      
      <li>By signing this Agreement, you agree to appear before the attorney or her representative, and acknowledge the current agreement, whereby the Attorney is authorized to undertake the subject matter of the case. Accordingly, the Principal shall be obligated to pay the agreed attorney fees. </li>
      
      <li>Principal shall have the right to inquire and obtain developments in the casel. Principal shall inform the law firm if the phone number, WhatsApp or address is changed, and provide all evidence and documents necessary for the case. Principal also agrees that the method of informing Principal of the developments of the case is through WhatsApp, and that everything sent to Principal therethrough shall be binding and legally effective. </li>
      
      <li>Principal shall acknowledge its full and sole legal responsibility for the accuracy and correctness of any materials, information, data and/or copies provided thereby to the Attorney. The Attorney shall not bear any whatsoever responsibility as may result from providing false or inaccurate information. </li>
      
      <li>Remaining fees shall become due, as agreed upon, as of the date of signing the Agreement for all legal and criminal cases, including the remaining fees of the of financial claims following the issuance of the first instance judgment. The Law Firm shall be entitled to directly deduct the fees from the execution amounts. In case Principal fails to pay the fees on its due time, this Agreement shall be immediately become null and void. The Attorney may claim the remaining fees by submitting this Agreement to the honorable Court. </li>
      
      <li>VAT shall apply to fees, in accordance with the provisions of the Law and the Executive Regulation thereof. </li>
      
      <li>The agreed upon fees shall be paid by Principal and shall not be amended if the dispute is concluded by conciliation, agreement or any other way. Rather, they become an acquired right for the Attorney once this Agreement is executed. It is not permissible to claim full or partial refund of such fees. If Principal terminates this Agreement or revokes the power of attorney, then the remaining fees shall become due. </li>
      
      <li>The signing of this Agreement shall not be deemed evidence of the payment of fees, but a receipt must be issued by the accountant of the Law Firm. </li>
      
      <li>The agreed fees represent the Attorney's dues for the work thereof and do not include execution, nor are they inclusive of appeals and cassation fees of all types of cases. Other fees are determined for such stages and implementation. </li>
      
      <li>The fees stated in the Agreement shall be for the agreed works only, and will not extend to other works, even if they are similar. If the agreed works are subdivided from other works, the new subordinate works will be counted as other fees to be agreed thereupon by another Agreement or by an appendix to the Agreement. </li>
      
      <li>Principal shall pay all fees and expenses required by the official and unofficial authorities regarding the case subject matter of the Agreement. Principal shall also put at the Attorney’s disposal, when requested thereby, all papers, documents, files, data, information and all other necessary items to facilitate the Attorney’s work. Principal shall be responsible for any damages that occur as a result of Principal’s failure to submit or delay to provide the Attorney with the required documents, data, information or other requirements that are necessary for the Attorney to perform the work. </li>
      
      <li>The Attorney shall have the right to withhold documents and judgments until Principal pays all contracted fees without any objection therefrom to the same. </li>
      
      <li>Consultation amount shall not be considered a part of the fees. </li>
      
      <li>Consultation applicant must inform the Law Firm if the Applicant’s opponent is our client or has interests with the Law Firm. </li>
      
      <li>Payments owed to Principal shall be transferred via BenefitPay or by bank transfer. </li>
      
      <li>Any dispute may arise between both Parties to this Agreement regarding its implementation, interpretation or any conditions or legal status resulting therefrom, nullity, nullification, rescission or modification, shall be resolved by the Courts of the Kingdom of Bahrain.</li>
      </ul>
</ion-content>
