<div class="flex flex-col w-full h-full bg-background ">
  <div class="relative flex flex-col flex-auto w-full h-full pb-8 overflow-y-auto">

    <div style="display: -webkit-box;display: -webkit-inline-box;">
      <div class="relative flex flex-row justify-center w-full p-2 border-b border-step-100 bg-background">
        <div class="items-start flex-1">
          <div class="relative flex flex-1 h-10 border rounded-lg lg:flex-none lg:w-1/3 bg-toolbar-background ">
            <svg class="absolute left-0 w-10 h-full p-2 fill-current hover:text-step-900 " x="0px" y="0px"
              viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
              width="512px" height="512px">
              <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
            </svg>
            <input class="w-full h-full pl-12 pr-1 text-sm bg-backeground text-step-900 focus:outline-none"
              type="search" name="search" placeholder="        {{'Operations.Search'|translate}} 
        " [(ngModel)]="searchTerm" #search   (keyup)="applyFilter()">
          </div>
        </div>


        <div
          class="relative flex items-center justify-center h-10 p-2 mx-2 border rounded-lg cursor-pointer flex-12 bg-toolbar-background hover:bg-step-50 "
          (click)="add()">
          <ion-icon name="add"></ion-icon>
          {{'Court.Charge.Add'|translate}}

        </div>
      </div>
    </div>
    <table mat-table [dataSource]="ChargeList" matSort class="z-10 w-full overflow-y-auto bg-background text-step-600">
      <!-- Checkbox Column -->

      <ng-container matColumnDef="reference_no">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.reference_no'|translate}} </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.reference_no}} </td>
      </ng-container>
      <ng-container matColumnDef="Charge_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Charge_name'|translate}}
          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ lang.selectedLang=='en'?element?.ChargeType?.name_en:element?.ChargeType?.name_ar| titlecase}}

        </td>
      </ng-container>

      <ng-container matColumnDef="recipient_name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Finance.Invoice.list.Name'|translate}} 
          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{ element?.recipient_name}}

        </td>
      </ng-container>
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Amounts'|translate}} </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.Amounts}} </td>
      </ng-container>

      <ng-container matColumnDef="Case">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Case'|translate}}

          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.case?.CaseNo}} </td>
      </ng-container>
      <ng-container matColumnDef="Status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Status.Status'|translate}}
          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{'Court.Charge.Form.Status.'+element?.status|translate}} </td>
      </ng-container>
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.date'|translate}}

          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.Date |date:'dd-MM-yyyy'}} </td>
      </ng-container>
      <ng-container matColumnDef="comment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Comments'|translate}}
          </p>
        </th>
        <td mat-cell *matCellDef="let element">
          {{element?.Comments}} </td>
      </ng-container>


      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>
          <p class="w-full text-center">
            {{'Court.Charge.Form.Action'|translate}}
          </p>
        </th>
        <td mat-cell *matCellDef="let row; let i=index;">
          <ng-container>
            <!--*ngIf="authz.canDo('UPDATE','TimeSlot',row)"-->
            <button mat-icon-button  color="accent" (click)="details(row)" [matTooltip]="'Operations.Edit'|translate">
              <mat-icon class="mx-auto" aria-label="Edit">edit</mat-icon>
            </button>

            <button mat-icon-button (click)="printCharge(row)" [matTooltip]="'Operations.Print'|translate" *ngIf="row.status == 'Paid' && ('payment:PRINT:MANAGE,SuperAdminAccess:MANAGE,AdminAccess:MANAGE,AdminSupportAccess:MANAGE,SLawyerAccess:MANAGE'|permission)">
              <mat-icon class="mx-auto" aria-label="Download">print</mat-icon>
            </button>

            <!--*ngIf="authz.canDo('DELETE','TimeSlot',row)"-->
            <button mat-icon-button color="warn" (click)="delete(row)" [matTooltip]="'Operations.Delete'|translate"
            *ngIf="row.status != 'Paid' && ('payment:DELETE:MANAGE,SuperAdminAccess:MANAGE,AdminAccess:MANAGE,AdminSupportAccess:MANAGE'|permission)">
              <mat-icon class="mx-auto" aria-label="Delete">delete</mat-icon>
            </button>
          </ng-container>

        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="getDisplayedColumns(); sticky: true" class="border-b"></tr>
      <tr mat-row *matRowDef="let row; columns: getDisplayedColumns();"
        class="border-b cursor-pointer border-step-100 hover:bg-step-50">
      <tr class="mat-row" *matNoDataRow>
        <ng-template #NoRoles>
          <td class="text-2xl text-center mat-cell" colspan="5">
            {{'Employee_managment.Employee-contracts.List.empty'|translate}}
          </td>
        </ng-template>

      </tr>
    </table>



  </div>
  <mat-paginator #chargeTablePaginator [pageSizeOptions]="[5,10,20]"
  class="relative bottom-0 w-full border-t border-b border-step-100 mat-paginator-sticky" showFirstLastButtons>
</mat-paginator>
</div>