<ion-header>
    <ion-toolbar class="text-center">
        <ion-buttons slot="start">
            <ion-button color="dark" (click)="dismiss()">
                <ion-icon name="close"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Update Employee
        </ion-title>
        <ion-buttons slot="end">
            <ion-button color="dark" (click)="update()">
                <ion-icon name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <div class="w-full p-2 overflow-y-auto">
        <div class="w-full">
            <form class="flex flex-col w-full px-4" [formGroup]="addForm">
            
                <div class="flex flex-row w-full">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label>   Name  </mat-label>
                        <input matInput type="text" formControlName="designationID" placeholder="Ahmed">
                    </mat-form-field>
                </div>
                <div class="flex flex-row w-full">
                    <mat-form-field appearance="standard" class="w-full">
                        <mat-label>   Name  </mat-label>
                        <input matInput type="text" formControlName="employment_status" placeholder="Ahmed">
                    </mat-form-field>
                </div>
            </form>
        </div>
    </div>
</ion-content>