<ion-header *ngIf="isModal">
  <ion-toolbar class="text-center">
    <ion-buttons slot="start">
      <ion-button color="dark" matTooltip="Cancel" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>{{isEdit?('Schedule.Booking.Edit'|translate):('Schedule.Booking.Add'|translate)}}</ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="bookAppointment()" [matTooltip]="isEdit?'Edit':'Add'">
        <ion-icon [name]="isEdit? 'sync-outline':'add'"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-buttons slot="start" style="height: 45px;" *ngIf="clientOrCompany && !isFromSite">
  <ion-menu-button></ion-menu-button>
  <ion-back-button></ion-back-button>
</ion-buttons>

<ion-content style="--background:#dcedf5;" class="relative flex">
  <div *ngIf="!isModal && !isFromSite"
    class="sticky top-0 z-40 flex flex-row items-center w-full h-12 text-white border-t border-b opacity-100 bg-primary-default">
    <div class="w-full text-center">Booking</div>
  </div>

  <div *ngIf="isFromSite"
    class="z-50 flex items-center justify-center w-full py-3 text-center text-white bg-primary-default">
    <div class="text-white border-b border-secondary-default">
      <ion-button matTooltip="Twitter" fill="clear" target="_blank" href="https://twitter.com/virtuthinko/">
        <ion-icon color="light" slot="icon-only" name="logo-twitter"></ion-icon>
      </ion-button>
      <ion-button matTooltip="Instagram" fill="clear" target="_blank" href="https://www.instagram.com/virtuthinko/">
        <ion-icon color="light" slot="icon-only" name="logo-instagram"></ion-icon>
      </ion-button>
      <ion-button matTooltip="Whatsapp" fill="clear" target="_blank" href="https://wa.me/000000000000">
        <ion-icon color="light" slot="icon-only" name="logo-whatsapp"></ion-icon>
      </ion-button>
    </div>
  </div>
  <div *ngIf="isFromSite"
    class="z-50 flex items-center justify-center w-full py-3 text-center text-white bg-primary-default">
    <ion-img src="assets/fillers/logo.svg">
    </ion-img>
  </div>

  <div *ngIf="isFromSite"
    class="sticky top-0 z-50 flex items-center justify-center flex-1 w-full p-4 text-2xl text-center text-white border-t border-b bg-primary-default border-secondary-default ">
    <div class="flex-1">New Booking</div>
    <div class="mx-1 text-secondary-default">|</div>
    <div class="flex-1">موعد جديد</div>
  </div>

  <div class="flex flex-col items-center justify-center w-full p-2 overflow-auto ">
    <form *ngIf="!noTimeSlots" class="flex flex-col w-full h-full px-4 lg:w-1/2" [formGroup]="bookForm">
      <!-- cLientType -->
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>Client Type | نوع العميل</mat-label>
        <mat-select formControlName="client_type">
          <mat-option value="Company">
            Company | شركة
          </mat-option>
          <mat-option value="Individual">
            Individual | فرد
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- Name -->
      <!-- ! CPR -->
      <mat-form-field *ngIf="bookForm.value.client_type=='Individual'" appearance="fill" class="w-full mb-2">
        <mat-label>CPR | الرقم الشخصي</mat-label>
        <input matInput type="text" formControlName="client_cpr" maxlength="9" placeholder="XXXXXXXXX">
        <mat-error *ngIf="bookForm.get('client_cpr').hasError('required') && (bookForm.get('client_cpr').dirty || bookForm.get('client_cpr').touched)">  
          Cpr is required | الرقم الشخصي مطلوب 
        </mat-error>
        <mat-error *ngIf="bookForm.get('client_cpr').hasError('pattern') && (bookForm.get('client_cpr').dirty || bookForm.get('client_cpr').touched)">  
          Cpr is contain 9 numbers | الرقم الشخصي يحتوي 9 ارقام 
        </mat-error>
        <!--<mat-error *ngIf="bookForm.get('client_cpr').hasError('maxLength')">  Cpr is contain 9 numbers | الرقم الشخصي يحتوي 9 ارقام </mat-error>-->

        
      </mat-form-field>

      <!-- ! CR bookForm.value.client_type=='Company' -->
    
      <mat-form-field *ngIf="bookForm.value.client_type=='Company'" appearance="fill" class="w-full mb-2">
        <mat-label>CR Number | رقم السجل التجاري </mat-label>
        <input matInput type="text" formControlName="client_cr" placeholder="XXXXXXXXX">
        <mat-error *ngIf="bookForm.get('client_cr').invalid">CR Is Required | حقل السجل التجاري مطلوب</mat-error>
      </mat-form-field>
  
      <!-- ! -->
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>
          {{(bookForm.value.client_type=='Company'?'Company Name | إسم الشركة':'Client Name | إسم العميل')}}
        </mat-label>
        <input matInput type="text" formControlName="client_name">
        <mat-error *ngIf="bookForm.get('client_name').hasError('required')">  client name is required | اسم العميل مطلوب </mat-error>

      </mat-form-field>
      <div class="flex flex-row w-full gap-2">
        <mat-form-field appearance="fill" class="w-1/4 mb-2">
          <mat-label>Phone Country | بلد الرقم</mat-label>
          <mat-select formControlName="client_phoneCountry">
            <mat-option *ngFor="let c of countries" [value]="c">
              {{c.name+' +'+c.code}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" class="w-full mb-2">
          <mat-label>Phone | الموبايل</mat-label>
          <input matInput type="number" formControlName="client_phone">
          <mat-error *ngIf="bookForm.get('client_phone').hasError('countryCode')">
            Choose Country Code | إختر رقم البلد
          </mat-error>
          <mat-error *ngIf="bookForm.get('client_phone').hasError('required')"> 
            Phone number is required | رقم الموبايل مطلوب
          </mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>Email | الإيميل</mat-label>
        <input matInput type="email" formControlName="client_email" placeholder="example@company.com">
        <mat-error *ngIf="bookForm.get('client_email').hasError('required')">  client email  is required |البريد الإلكتروني مطلوب  </mat-error>
        <mat-error *ngIf="bookForm.get('client_email').hasError('email')"> invalid email |البريد الإلكتروني غير صالح  </mat-error>
      </mat-form-field>

      <!-- Type -->
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>Appointment Type | نوع الموعد</mat-label>
        <mat-hint *ngIf="noNotary">Sorry, There is no
          time available to book | لا يوجد وقت متاح</mat-hint>
        <mat-select formControlName="typeID" (selectionChange)="typeChanged($event)">
          <mat-option *ngFor="let value of appointmentTypes" [value]="value">
            {{value.title_en+" | "+value.title_ar}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.get('typeID').hasError('required')">  Appointment Type is required | نوع الموعد مطلوب </mat-error>
      </mat-form-field>

      <!-- Lawyer -->
      <mat-form-field *ngIf="!selectedType?.isNotary" appearance="fill" class="w-full">
        <mat-label>Lawyer | المحامي</mat-label>
        <mat-select formControlName="lawyer">
          <mat-option *ngFor="let value of employeesTimeSlots" [value]="value">
            {{value.user.first_name+' '+value.user.last_name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.get('lawyer').hasError('required')">  lawyer  is required |المحامي مطلوب</mat-error>

      </mat-form-field>

      <!-- Time -->
      <mat-form-field appearance="fill" class="w-full" [ngStyle]="{'display': noNotary ? 'none' : 'block' }">
        <mat-label>Appointment Time | وقت الموعد</mat-label>
        <mat-hint *ngIf="!(bookForm.value.lawyer || noNotary)">Please,Select a lawyer | الرجاءإختيار المحامي</mat-hint>
        <mat-select formControlName="timeSlot">
          <mat-option *ngFor="let ts of bookForm.get('lawyer').value.timeSlots" [value]="ts">
            {{(ts.date|date) + ' - '+ (ts.startTime|date:'shortTime':'+3')}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="bookForm.get('timeSlot').hasError('required')">  timeSlot  is required |الوقت مطلوب</mat-error>

      </mat-form-field>

      <!-- Description -->
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>ِAppointment Description | تفاصيل الموعد</mat-label>
        <textarea matInput type="text" formControlName="case_description"></textarea>
        <mat-error *ngIf="bookForm.get('case_description').hasError('required')">  Description  is required |وصف القضية مطلوب </mat-error>

      </mat-form-field>
      <mat-form-field appearance="fill" class="w-full mb-2">
        <mat-label>Upload CPR | الهوية </mat-label>

        <ngx-mat-file-input formControlName="CprUrl" placeholder="{{'Court.Cases.document.Form.DocumentUrl'|translate}} "

            accept=".doc,.docx,.pdf,.jpg,.jpeg,.png">
          </ngx-mat-file-input>
            <mat-hint >.doc,.docx,.pdf,.jpg,.jpeg,.png</mat-hint>

        <mat-icon matSuffix>  </mat-icon>
    </mat-form-field>
    <mat-form-field appearance="fill" class="w-full mb-2">
      <mat-label>Upload Other document | رفع ملفات اخرى </mat-label>

      <ngx-mat-file-input formControlName="OtherUrl" placeholder="{{'Court.Cases.document.Form.DocumentUrl'|translate}} "

          accept=".doc,.docx,.pdf,.jpg,.jpeg,.png">
        </ngx-mat-file-input>
          <mat-hint >.doc,.docx,.pdf,.jpg,.jpeg,.png</mat-hint>

      <mat-icon matSuffix>  </mat-icon>
  </mat-form-field>

  <div appearance="fill" class="w-full mb-2">
    <mat-checkbox formControlName="terms"  > </mat-checkbox> 
     <a style="color:blue" class="cursor-pointer" (click)="openTearm()"> أوافق على هذه الشروط والأحكام  | I agree to these Terms and Conditions </a>

  </div>
      <div class="mt-4">
        <button
          class="flex items-center w-full h-12 text-white rounded-md hover:text-secondary-default bg-primary-default hover:bg-primary-tint"
          *ngIf="!isModal" (click)="bookAppointment()">
          <div class="flex-1">Book Appointment</div>
          <div class="mx-1 text-secondary-default">|</div>
          <div class="flex-1">حجز الموعد</div>
        </button>
      </div>
    </form>
  </div>

  <div *ngIf="noTimeSlots" class=" flex-col h-full items-center w-full text-gray-500" style="text-align: center; margin: auto;">
    <h3>عذراً. لا توجد فترات متاحة</h3>
    <h3>Sorry. There are no available time slots</h3>
  </div>
</ion-content>