<ion-header>
  <ion-toolbar class="text-center">
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="dismiss()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title> {{'Finance.Receipt.Add'|translate}} </ion-title>
    <ion-buttons slot="end">
      <ion-button color="dark" (click)="add()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="(lang.direction|async) as dir">
  <ng-container *ngIf="!isLoading">
    <div class="w-full p-2 overflow-y-auto">
      <div class="w-full">
        <form class="flex flex-col w-full px-4" [formGroup]="addForm">


          <div class="flex flex-row w-full"  *ngIf="!InvoiceID" >
            <mat-form-field appearance="standard" class="px-2 w-1/2">
              <mat-label> {{'Finance.Invoice.list.Type.Type'|translate}} <span style="color: red;">*</span>
              </mat-label>
              <mat-select value="Client" #type (selectionChange)="typechanged($event); valueChanged($event)">
                <mat-option value="Client"> {{'Finance.Invoice.list.Type.Client'|translate}} </mat-option>
                <mat-option value="Company"> {{'Finance.Invoice.list.Type.Company'|translate}}</mat-option>
                <mat-option value="Consultation"> {{'Finance.Invoice.list.Type.Consultation'|translate}}</mat-option>
                <mat-option value="Other"> {{'Finance.Invoice.list.Type.Other'|translate}}</mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="px-2 w-1/2" *ngIf="type.value=='Client'">
              <mat-label> {{'Finance.Invoice.list.Client'|translate}} <span style="color: red;">*</span> </mat-label>
              <mat-select formControlName="cust_clientID"
                (selectionChange)="getCasesForClient($event) ;getInvoice($event)">
                <mat-option>
                  <ngx-mat-select-search (keyup)="filterClientlist($event)" placeholderLabel="ابحث عن  عميل"
                    [formControl]="ClientFilterCtrl" noEntriesFoundLabel="لا يوجد">
                    <mat-icon (click)="clearSelectionClient()" class="mx-auto" aria-label="clear"
                      ngxMatSelectSearchClear>close</mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let client of filteredClients;let i = index;" [value]="client.id">
                  {{client.full_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>

            <mat-form-field appearance="standard" class="px-2 w-1/2" *ngIf="type.value=='Company'">
              <mat-label> {{'Finance.Invoice.list.Company'|translate}} <span style="color: red;">*</span> </mat-label>
              <mat-select formControlName="companyID" (selectionChange)="getCasesForCompany($event)">
                <mat-option>
                  <ngx-mat-select-search (keyup)="filterCompanylist($event)" placeholderLabel="ابحث عن  شركة"
                    [formControl]="ClientFilterCtrl" noEntriesFoundLabel="لا يوجد">
                    <mat-icon (click)="clearSelectionCompany()" class="mx-auto" aria-label="clear"
                      ngxMatSelectSearchClear>close</mat-icon>
                  </ngx-mat-select-search>
                </mat-option>
                <mat-option *ngFor="let company of filteredCompanies" [value]="company.id">{{company.full_name}}
                </mat-option>
              </mat-select>
            </mat-form-field>




            <mat-form-field appearance="standard" class="px-2 w-1/2"
              *ngIf="type.value=='Consultation' || type.value=='Other'">
              <mat-label> {{'Finance.Invoice.list.Name'|translate}} <span style="color: red;">*</span> </mat-label>
              <input matInput formControlName="recipient_name" />
            </mat-form-field>
          </div>
          <div class="flex flex-row w-full" *ngIf="!InvoiceID">
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.cust_clientID">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('cust_clientID').hasError(validation.type) && (addForm.get('cust_clientID').dirty || addForm.get('cust_clientID').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.amount">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('amount').hasError(validation.type) && (addForm.get('amount').dirty || addForm.get('amount').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>



          </div>
          <div class="flex flex-row w-full">
            <div class="flex flex-row w-full">
              <mat-form-field appearance="standard" class="px-2 w-1/2">
                <mat-label>{{'Finance.Receipt.list.Receipt_Date'|translate}} <span style="color: red;">*</span>
                </mat-label>
                <input matInput formControlName="receipt_date" [matDatepicker]="pickerreceipt_date" />
                <mat-datepicker-toggle matSuffix [for]="pickerreceipt_date"></mat-datepicker-toggle>
                <mat-datepicker #pickerreceipt_date></mat-datepicker>

              </mat-form-field>

              <mat-form-field appearance="standard" class="px-2 w-1/2">
                <mat-label> {{'Finance.Receipt.list.Amount'|translate}} <span style="color: red;">*</span> </mat-label>
                <input matInput type="number"  formControlName="amount" [disabled]="true" />
              </mat-form-field>

            </div>


          </div>



          <div class="flex flex-row w-full">

            <mat-form-field appearance="standard" class="px-2 w-1/2">
              <mat-label> {{'Finance.Receipt.list.Payment_Method'|translate}} <span style="color: red;">*</span>
              </mat-label>
              <mat-select formControlName="payment_method" (selectionChange)="checkCheque($event)">

                <mat-option value="Cash"> {{'Finance.Receipt.Payment_method.Cash'|translate}} </mat-option>
                <mat-option value="BankTransfer"> {{'Finance.Receipt.Payment_method.BankTransfer'|translate}}
                </mat-option>
                <mat-option value="Cheque"> {{'Finance.Receipt.Payment_method.Cheque'|translate}} </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="standard" class="px-2 w-1/2">
              <mat-label> {{'Finance.Receipt.list.description'|translate}} </mat-label>
              <input matInput formControlName="description" />
            </mat-form-field>
          </div>

          <div class="flex flex-row w-full">
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.payment_method">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('payment_method').hasError(validation.type) && (addForm.get('payment_method').dirty || addForm.get('payment_method').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div appearance="standard" class="px-2 w-1/2">

            </div>



          </div>

          <div class="flex flex-row w-full">
            <ng-container *ngIf="isCheque">
              <mat-form-field appearance="standard" class="px-2 w-1/2">
                <mat-label> {{'Finance.Receipt.list.cheque_date'|translate}} <span style="color: red;">*</span>
                </mat-label>
                <input matInput formControlName="cheque_date" [matDatepicker]="pickerChequeDate" />
                <mat-datepicker-toggle matSuffix [for]="pickerChequeDate"></mat-datepicker-toggle>
                <mat-datepicker #pickerChequeDate></mat-datepicker>
              </mat-form-field>
            </ng-container>
            <ng-container *ngIf="isCheque">
              <mat-form-field appearance="standard" class="px-2 w-1/2">
                <mat-label> {{'Finance.Receipt.list.cheque_number'|translate}} <span style="color: red;">*</span>
                </mat-label>
                <input matInput s formControlName="cheque_number" />
              </mat-form-field>
            </ng-container>
          </div>
          <div class="flex flex-row w-full">
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.cheque_date">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('cheque_date').hasError(validation.type) && (addForm.get('cheque_date').dirty || addForm.get('cheque_date').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.cheque_number">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('cheque_number').hasError(validation.type) && (addForm.get('cheque_number').dirty || addForm.get('cheque_number').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>



          </div>
          <div class="flex flex-row w-full">
            <ng-container *ngIf="isCheque">
              <mat-form-field appearance="standard" class="px-2 w-1/2">
                <mat-label> {{'Finance.Receipt.list.drawn_on'|translate}} <span style="color: red;">*</span>
                </mat-label>
                <input matInput s formControlName="drawn_on" />
              </mat-form-field>
            </ng-container>
          </div>
          <div class="flex flex-row w-full">
            <div appearance="standard" class="px-2 w-1/2">
              <div class="validation-errors">
                <ng-container *ngFor="let validation of validation_messages.drawn_on">
                  <div class="text-red-600 text-end"
                    *ngIf="addForm.get('drawn_on').hasError(validation.type) && (addForm.get('drawn_on').dirty || addForm.get('drawn_on').touched)">
                    {{ validation.message |translate }}
                  </div>
                </ng-container>
              </div>
            </div>




          </div>
        </form>

        <ng-container>
          <div class="flex flex-row w-full mt-8">
            <table class="w-full overflow-y-auto bg-background border-2">
              <thead>
                <tr>
                  <th class="border-2 p-1 text-center"> {{'Finance.Invoice.Title'|translate}} </th>
                  <th class="border-2 p-1 text-center">{{'Finance.Invoice.list.invoice_date'|translate}} </th>
                  <th class="border-2 p-1 text-center">{{'Finance.Invoice.list.Pending_Amount'|translate}} </th>
                </tr>
              </thead>
              <tbody>
                <!-- <tr *ngIf="invoice.length==0 && !caseInvoice && !selectedInvoice">
                  <td colspan="5" class="border-2 p-1 text-center">{{'Finance.Invoice.Details.no-details'|translate}}
                  </td>
                </tr>-->
                <tr *ngIf="!caseInvoice && !selectedInvoice ">
                  <td class="border-2 p-1 text-center">
                    <mat-form-field appearance="standard">
                      <mat-label> {{'Finance.Invoice.list.ID'|translate}} </mat-label>
                      <mat-select formControlName="invoiceID" (selectionChange)="setAmount($event)">
                        <mat-option *ngFor="let data of invoice;let i = index;" [value]="data.id"> {{data.invoice_no}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{selectedInvoice?.invoice_date|date:'dd-MM-yyyy hh:mm a'}}
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{pending_amount | number: '1.2-2'}}
                  </td>
                </tr>


                <tr *ngIf="caseInvoice">




                  <td class="border-2 p-1 text-center">
                    <div>
                      {{caseInvoice?.invoice_no}}
                    </div>
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{caseInvoice?.invoice_date|date:"short"}}
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{caseInvoice?.pending_amount | number: '1.2-2'}}
                  </td>

                </tr>
                <tr *ngIf="selectedInvoice">




                  <td class="border-2 p-1 text-center">
                    <div>
                      {{selectedInvoice?.invoice_no}}
                    </div>
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{selectedInvoice?.invoice_date|date:"short"}}
                  </td>
                  <td class="border-2 p-1 text-center">
                    {{selectedInvoice?.pending_amount | number: '1.2-2'}}
                  </td>

                </tr>

              </tbody>
            </table>
          </div>
        </ng-container>

      </div>
    </div>
  </ng-container>
</ion-content>